spring-beans/src/test/resources/META-INF/my-custom.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.my.com/schema/custom"
		elementFormDefault="qualified">

	<xsd:element name="custom">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" use="required"/>
			<xsd:attribute name="userName" type="xsd:string"/>
			<xsd:attribute name="email" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
